// Set 'theme-color' in <head> of src/index.html to the sites primary color

// ------- COLOR VARIABLES -------
$colors: (
    gray-lter: #EEEEEE,
    gray-lt: #BEBEBE,
    gray: #7E7E7E,
    gray-dk: #3C3C3C,
    gray-dkest: #1C1C1C,
    red: #FF5F5F,
    green: #3BD57D,
    blue-lt: #33BFED,
    blue: #008CBA,
    blue-dk: #005987,
);

// For calling colors in the css instead of a $xyz variable
//    Sample of how to use the below function:
//    .className {
//        color: color(gray);
//        background-color: color(gray);
//    }
@function color($color) {
    @return map-get($colors, $color);
}

// ------- COLOR UTILITY CLASSES -------
// Generate color, and color-bg classes for each color defined above
@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
    .#{$name}-bg {
        background-color: $color;
    }
}
