html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.l-container {
  width: 960px;

  //@md-screen
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}

@mixin border {
  border: 1px solid color(gray-dk);
}

@mixin border-radius {
  border-radius: 2px;
}

@mixin shadow {
  shadow: 0 0 2px 1px #D8D8D8;
}

// SPACING
//@input-padding: 11px 17px
//@lg-padding: 20px
//@margin-hd-ft: 60px

@mixin l-hover-white {
  color: darken(#fff, 15%);
}
