@import "colors";
@import "text";
@import "defaults";


.l-header {
  width: 100%;
  height: 70px;
  background-color: color(grayDk);
  color: white;

  img {
    max-height: 100%;
  }
}

pre {
  //padding: @lg-padding
  background-color: color(gray-lt);
  color: color(gray);
  font-family: monospace;
  //letter-spacing: -1px
  //line-height: 22px
  word-wrap: break-word;
}
