@import "units";
@import "colors";
@import "text";
@import "mixins";
@import "defaults";
@import "inputs";
@import "clickables";
@import "toasts";


.l-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 size(3);
}

.l-header {
  width: 100%;
  height: size(9);
  background-color: color(gray-dk);
  color: white;

  &__logo {
      max-height: 100%; height: 50px;
  }
}

pre {
  padding: size(3);
  background-color: color(gray-lt);
  color: color(gray);
  font-family: monospace;
  //letter-spacing: -1px
  //line-height: 22px
  word-wrap: break-word;
}





//@import "responsive";
