// ------- FONT UTILITY CLASSES -------

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.underline { text-decoration: underline; }
.no-underline, .no-underline:hover, .no-underline:focus, .no-underline:active { text-decoration: none; }
.italic { font-style: italic; }

.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }
@mixin light { @extend .light; }
@mixin normal { @extend .normal; }
@mixin medium { @extend .medium; }
@mixin bold { @extend .bold; }

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }


// ------- GENERAL RULES -------
// base (1em) font-size set to 16px
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    @include normal();
    color: color(gray-dk);
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 { @include normal(); }
h1 {
    margin: 1.75em auto 1em;
    font-size: 2.625em; //42px
}
h2 {
    margin: 1.75em auto 1em;
    font-size: 2.250em; //36px
}
h3 {
    margin: 1.75em auto 1em;
    font-size: 2.000em; //32px
}
h4 {
    margin: 1.75em auto 1em;
    font-size: 1.500em; //24px
}
h5 {
    margin: 1.75em auto 1em;
    font-size: 1.250em; //20px
}

h6 {
    margin: 1.75em auto 1em;
    font-size: 1.000em; //16px
    text-transform: uppercase;
    @include bold();
}
