//light, dark, success, main, danger
.l-msg {
  margin: 20px 0;
  padding: @lg-padding;
  border-radius: @radius;

  i {
    float: right;
    cursor: pointer;
    &:hover {
      .l-hover-white
    }
  }
}

.l-msg-light {
  .l-msg;
  background-color: @cl-light;
  border: @df-border;

  i {
    &:hover {
      color: lighten(#000, 20%);
    }
  }
}

.l-msg-dark {
  .l-msg;
  background-color: @cl-dark;
  border: 1px solid @cl-dark;
  color: #fff;
}

.l-msg-success {
  .l-msg;
  background-color: @cl-success;
  border: 1px solid @cl-success;
  color: #fff;
}

.l-msg-main {
  .l-msg;
  background-color: @cl-main;
  border: 1px solid @cl-main;
  color: #fff;
}

.l-msg-danger {
  .l-msg;
  background-color: @cl-danger;
  border: 1px solid @cl-danger;
  color: #fff;
}
