.marginbiggest {
  margin: 64px; }

.margin-top-biggest {
  margin-top: 64px; }

.margin-bottom-biggest {
  margin-bottom: 64px; }

.margin-right-biggest {
  margin-right: 64px; }

.margin-left-biggest {
  margin-left: 64px; }

.paddingbiggest {
  padding: 64px; }

.padding-top-biggest {
  padding-top: 64px; }

.padding-bottom-biggest {
  padding-bottom: 64px; }

.padding-right-biggest {
  padding-right: 64px; }

.padding-left-biggest {
  padding-left: 64px; }

.marginbigger {
  margin: 48px; }

.margin-top-bigger {
  margin-top: 48px; }

.margin-bottom-bigger {
  margin-bottom: 48px; }

.margin-right-bigger {
  margin-right: 48px; }

.margin-left-bigger {
  margin-left: 48px; }

.paddingbigger {
  padding: 48px; }

.padding-top-bigger {
  padding-top: 48px; }

.padding-bottom-bigger {
  padding-bottom: 48px; }

.padding-right-bigger {
  padding-right: 48px; }

.padding-left-bigger {
  padding-left: 48px; }

.marginbig {
  margin: 32px; }

.margin-top-big {
  margin-top: 32px; }

.margin-bottom-big {
  margin-bottom: 32px; }

.margin-right-big {
  margin-right: 32px; }

.margin-left-big {
  margin-left: 32px; }

.paddingbig {
  padding: 32px; }

.padding-top-big {
  padding-top: 32px; }

.padding-bottom-big {
  padding-bottom: 32px; }

.padding-right-big {
  padding-right: 32px; }

.padding-left-big {
  padding-left: 32px; }

.marginregular {
  margin: 24px; }

.margin-top-regular {
  margin-top: 24px; }

.margin-bottom-regular {
  margin-bottom: 24px; }

.margin-right-regular {
  margin-right: 24px; }

.margin-left-regular {
  margin-left: 24px; }

.paddingregular {
  padding: 24px; }

.padding-top-regular {
  padding-top: 24px; }

.padding-bottom-regular {
  padding-bottom: 24px; }

.padding-right-regular {
  padding-right: 24px; }

.padding-left-regular {
  padding-left: 24px; }

.marginsmall {
  margin: 16px; }

.margin-top-small {
  margin-top: 16px; }

.margin-bottom-small {
  margin-bottom: 16px; }

.margin-right-small {
  margin-right: 16px; }

.margin-left-small {
  margin-left: 16px; }

.paddingsmall {
  padding: 16px; }

.padding-top-small {
  padding-top: 16px; }

.padding-bottom-small {
  padding-bottom: 16px; }

.padding-right-small {
  padding-right: 16px; }

.padding-left-small {
  padding-left: 16px; }

.marginsmaller {
  margin: 8px; }

.margin-top-smaller {
  margin-top: 8px; }

.margin-bottom-smaller {
  margin-bottom: 8px; }

.margin-right-smaller {
  margin-right: 8px; }

.margin-left-smaller {
  margin-left: 8px; }

.paddingsmaller {
  padding: 8px; }

.padding-top-smaller {
  padding-top: 8px; }

.padding-bottom-smaller {
  padding-bottom: 8px; }

.padding-right-smaller {
  padding-right: 8px; }

.padding-left-smaller {
  padding-left: 8px; }

.marginsmallest {
  margin: 4px; }

.margin-top-smallest {
  margin-top: 4px; }

.margin-bottom-smallest {
  margin-bottom: 4px; }

.margin-right-smallest {
  margin-right: 4px; }

.margin-left-smallest {
  margin-left: 4px; }

.paddingsmallest {
  padding: 4px; }

.padding-top-smallest {
  padding-top: 4px; }

.padding-bottom-smallest {
  padding-bottom: 4px; }

.padding-right-smallest {
  padding-right: 4px; }

.padding-left-smallest {
  padding-left: 4px; }

.marginnone {
  margin: 0; }

.margin-top-none {
  margin-top: 0; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-right-none {
  margin-right: 0; }

.margin-left-none {
  margin-left: 0; }

.paddingnone {
  padding: 0; }

.padding-top-none {
  padding-top: 0; }

.padding-bottom-none {
  padding-bottom: 0; }

.padding-right-none {
  padding-right: 0; }

.padding-left-none {
  padding-left: 0; }

.gray-lter {
  color: #EEEEEE; }

.gray-lter-bg {
  background-color: #EEEEEE; }

.gray-lt {
  color: #BEBEBE; }

.gray-lt-bg {
  background-color: #BEBEBE; }

.gray {
  color: #7E7E7E; }

.gray-bg {
  background-color: #7E7E7E; }

.gray-dk {
  color: #3C3C3C; }

.gray-dk-bg {
  background-color: #3C3C3C; }

.gray-dkest {
  color: #1C1C1C; }

.gray-dkest-bg {
  background-color: #1C1C1C; }

.red {
  color: #FF5F5F; }

.red-bg {
  background-color: #FF5F5F; }

.green {
  color: #3BD57D; }

.green-bg {
  background-color: #3BD57D; }

.blue-lt {
  color: #33BFED; }

.blue-lt-bg {
  background-color: #33BFED; }

.blue {
  color: #008CBA; }

.blue-bg {
  background-color: #008CBA; }

.blue-dk {
  color: #005987; }

.blue-dk-bg {
  background-color: #005987; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.underline {
  text-decoration: underline; }

.no-underline, .no-underline:hover, .no-underline:focus, .no-underline:active {
  text-decoration: none; }

.italic {
  font-style: italic; }

.light {
  font-weight: 300; }

.normal, body, h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.medium {
  font-weight: 500; }

.bold, h6 {
  font-weight: 700; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.justify {
  text-align: justify; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #3C3C3C;
  line-height: 1.5em; }

h1 {
  font-size: 2.625em;
  margin: 1.45em auto 1em; }

h2 {
  font-size: 2.250em;
  margin: 1.50em auto 1em; }

h3 {
  font-size: 1.875em;
  margin: 1.55em auto 1em; }

h4 {
  font-size: 1.500em;
  margin: 1.60em auto 1em; }

h5 {
  font-size: 1.250em;
  margin: 1.65em auto 1em; }

h6 {
  font-size: 1.000em;
  text-transform: uppercase;
  margin: 1.70em auto 1em; }

* {
  box-sizing: border-box; }

html, body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

table {
  font-size: inherit; }

::-webkit-input-placeholder {
  color: #BEBEBE; }

:-moz-placeholder {
  color: #BEBEBE; }

::-moz-placeholder {
  color: #BEBEBE; }

:-ms-input-placeholder {
  color: #BEBEBE; }

input, input[type="name"], input[type="email"], input[type="text"],
input[type="tel"], input[type="submit"], input[type="number"],
input[type="password"], input[type="url"], textarea, select {
  display: inline-block;
  padding: 0.625em 1em;
  margin: 1em auto;
  width: 100%;
  min-height: 2em;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  font-family: inherit;
  font-size: 1em; }
  input:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="text"]:focus,
  input[type="tel"]:focus, input[type="submit"]:focus, input[type="number"]:focus,
  input[type="password"]:focus, input[type="url"]:focus, textarea:focus, select:focus {
    outline: none !important;
    border: 1px solid #008CBA;
    box-shadow: 0,0,0,transparent;
    text-decoration: none; }

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
  outline: none;
  box-shadow: 0,0,0,transparent; }

textarea {
  max-width: 100%;
  min-height: 4em; }

select {
  appearance: none;
  background-color: white;
  cursor: pointer;
  color: #BEBEBE; }

option {
  color: #3C3C3C; }

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  position: absolute; }

.l-lbl--chk, .l-lbl--rdo {
  margin: 0 1em 1em 0;
  cursor: pointer; }

input[type="checkbox"] + .l-lbl--chk:before,
input[type="radio"] + .l-lbl--rdo:before {
  display: inline-block;
  width: 1em;
  margin-right: 1.25em;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  color: #7E7E7E; }

input[type="checkbox"] + .l-lbl--chk:before {
  content: '\f096';
  font-weight: bold; }

input[type="radio"] + .l-lbl--rdo:before {
  content: '\f10c'; }

input[type="checkbox"]:checked + .l-lbl--chk:before {
  content: '\f046'; }

input[type="radio"]:checked + .l-lbl--rdo:before {
  content: '\f192'; }

.l-btn, button, input[type="submit"] {
  width: auto;
  height: auto;
  margin: 12px;
  padding: 0.75em;
  border: 1px solid #BEBEBE;
  border-radius: 2px;
  background-color: #EEEEEE;
  color: #3C3C3C;
  font-size: 1em; }
  .l-btn:hover, button:hover, input[type="submit"]:hover {
    background-color: #BEBEBE;
    color: #3C3C3C; }
  .l-btn:active, button:active, input[type="submit"]:active {
    background-color: #7E7E7E; }
  .l-btn--light {
    border: none;
    background-color: white;
    color: #3C3C3C; }
    .l-btn--light:hover {
      background-color: #e6e6e6;
      color: #3C3C3C; }
    .l-btn--light:active {
      background-color: #cccccc; }
  .l-btn--dark {
    border: none;
    background-color: #3C3C3C;
    color: white; }
    .l-btn--dark:hover {
      background-color: #232323;
      color: white; }
    .l-btn--dark:active {
      background-color: #090909; }
  .l-btn--blue {
    border: none;
    background-color: #008CBA;
    color: white; }
    .l-btn--blue:hover {
      background-color: #006687;
      color: white; }
    .l-btn--blue:active {
      background-color: #003f54; }
  .l-btn--green {
    border: none;
    background-color: #3BD57D;
    color: white; }
    .l-btn--green:hover {
      background-color: #27b664;
      color: white; }
    .l-btn--green:active {
      background-color: #1e8c4d; }
  .l-btn--red {
    border: none;
    background-color: #FF5F5F;
    color: white; }
    .l-btn--red:hover {
      background-color: #ff2c2c;
      color: white; }
    .l-btn--red:active {
      background-color: #f80000; }

a, button, input[type="submit"] {
  cursor: pointer; }
  a:focus, button:focus, input[type="submit"]:focus {
    outline: none !important;
    box-shadow: 0,0,0,transparent;
    text-decoration: none; }

a {
  color: #005987;
  text-decoration: none; }
  a:hover {
    color: #008CBA; }

.l-msg {
  margin: 1.5em 0;
  padding: 1em;
  border: none;
  border-radius: 2px;
  background-color: #008CBA;
  color: white; }
  .l-msg .fa-times {
    float: right;
    cursor: pointer; }
    .l-msg .fa-times:hover {
      color: #d9d9d9; }
  .l-msg--dark {
    background-color: #3C3C3C; }
  .l-msg--success {
    background-color: #3BD57D; }
  .l-msg--danger {
    background-color: #FF5F5F; }
  .l-msg--light {
    background-color: #EEEEEE;
    border: 1px solid #BEBEBE;
    color: #3C3C3C; }
    .l-msg--light .fa-times:hover {
      color: #7E7E7E; }

.l-container {
  width: 960px;
  margin: 0 auto;
  padding: 0 24px; }

.l-header {
  width: 100%;
  height: 72px;
  background-color: #3C3C3C;
  color: white; }
  .l-header__logo {
    max-height: 100%;
    height: 50px; }

pre {
  padding: 24px;
  background-color: #BEBEBE;
  color: #7E7E7E;
  font-family: monospace;
  word-wrap: break-word; }

html, body {
  background-color: #EEEEEE; }

.l-container {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 96px 64px; }

.l-header .l-container {
  padding: 12px 64px;
  background: transparent; }

.side-menu {
  width: 160px;
  margin-top: 60px;
  background-color: #EEEEEE;
  border: 1px solid #DEE3E8;
  box-shadow: 0 0 2px 0px #DEE3E8;
  position: fixed;
  top: auto;
  left: auto;
  border-radius: 2px; }
  .side-menu--placeholder {
    min-width: 160px;
    margin-right: 48px;
    visibility: hidden; }
  .side-menu__link {
    padding: 8px 12px;
    border-bottom: 1px solid #DEE3E8;
    cursor: pointer;
    border-radius: 2px; }
    .side-menu__link:hover {
      background-color: #008CBA;
      color: white; }
    .side-menu__link--active {
      background-color: #008CBA;
      color: white; }

.section-title {
  margin-top: 60px;
  padding-bottom: 12px;
  border-bottom: 1px solid #EEEEEE;
  text-transform: uppercase;
  text-align: right; }

pre.override-pre {
  background-color: inherit;
  color: inherit;
  padding: 0;
  line-height: inherit;
  letter-spacing: normal;
  letter-spacing: 1px; }

.hljs-title {
  color: #4C4C4C; }

/*footer {
    background-color: @cl-dark;
    width: 100%;
    min-height: 300px;
    margin-top: @margin-hd-ft;
}*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200; }

.l-header-separated {
  height: 70px;
  width: 100%;
  background-color: #3C3C3C;
  display: flex;
  align-items: flex-end; }

.l-header-separated div {
  color: white;
  height: 100%;
  width: 50px; }

.l-left-box {
  float: left;
  width: 100%;
  position: relative;
  left: 4%; }

.l-left-box div {
  background-color: #33BFED;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.l-right-box {
  width: 50%;
  float: right;
  display: flex;
  justify-content: space-around;
  cursor: pointer; }

.l-right-box div {
  display: flex;
  align-items: center;
  justify-content: center; }

/*# sourceMappingURL=demo.css.map */
