* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}
html,
body {
  background-color: #eee;
}
html,
body {
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}
p {
  font-size: 1em;
}
button {
  font-size: 1em;
}
input {
  font-size: 1em;
}
a {
  color: #1a75ff;
  text-decoration: none;
}
a:hover {
  color: #0047b3;
}
button {
  cursor: pointer;
}
.l-btn {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
}
.l-btn:hover {
  background-color: #e6e6e6;
}
.l-btn:focus {
  outline: none;
}
.l-btn-light {
  box-sizing: border-box;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #767676;
}
.l-btn-light:hover {
  background-color: #e6e6e6;
}
.l-btn-light:focus {
  outline: none;
}
.l-btn-light:hover {
  background-color: #f2f2f2;
}
.l-btn-light:active {
  background-color: #e6e6e6;
}
.l-btn-dark {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #262626;
  border: 1px solid #767676;
}
.l-btn-dark:hover {
  background-color: #e6e6e6;
}
.l-btn-dark:focus {
  outline: none;
}
.l-btn-dark:hover {
  background-color: #191919;
}
.l-btn-dark:active {
  background-color: #0c0c0c;
}
.l-btn-main {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  background-color: #1a75ff;
  color: #fff;
  border: 1px solid #1a75ff;
}
.l-btn-main:hover {
  background-color: #e6e6e6;
}
.l-btn-main:focus {
  outline: none;
}
.l-btn-main:hover {
  background-color: #005be6;
}
.l-btn-main:active {
  background-color: #0051cd;
}
.l-btn-success {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #25be66;
  border: 1px solid #25be66;
}
.l-btn-success:hover {
  background-color: #e6e6e6;
}
.l-btn-success:focus {
  outline: none;
}
.l-btn-success:hover {
  background-color: #1d934f;
}
.l-btn-success:active {
  background-color: #197e44;
}
.l-btn-danger {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #ff2727;
  border: 1px solid #ff2727;
}
.l-btn-danger:hover {
  background-color: #e6e6e6;
}
.l-btn-danger:focus {
  outline: none;
}
.l-btn-danger:hover {
  background-color: #f30000;
}
.l-btn-danger:active {
  background-color: #d90000;
}
.l-form input {
  margin: 10px 0;
}
.l-input {
  padding: 11px 17px;
  margin: 20px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #767676;
}
.l-input:focus {
  outline: none;
  border: 1px solid #1a75ff;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.s-container {
  width: 900px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 900px) {
  .s-container {
    width: 100%;
  }
}
.l-msg {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
}
.l-msg-light {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  border: 1px solid #767676;
}
.l-msg-dark {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #262626;
  border: 1px solid #262626;
  color: #fff;
}
.l-msg-success {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #25be66;
  border: 1px solid #25be66;
  color: #fff;
}
.l-msg-main {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #1a75ff;
  border: 1px solid #1a75ff;
  color: #fff;
}
.l-msg-danger {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #ff2727;
  border: 1px solid #ff2727;
  color: #fff;
}
