/*********************/
/*** WWW SPECIFIC ***/
* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}
html,
body {
  background-color: #eee;
}
.title {
  font-size: 1.23em;
  border-bottom: 1px solid #ecf1f8;
  color: #5B5B5B;
  font-weight: 100;
  text-transform: uppercase;
  text-align: right;
  padding: 20px;
  margin: 50px 0 20px;
}
.title#font-title {
  margin-top: 0;
}
hr {
  border-bottom: none;
  border-top: 1px solid #D5D5D5;
  border-left: none;
  margin: 30px 0;
}
footer {
  background-color: #3d3c3c;
  width: 100%;
  min-height: 300px;
  margin-top: 60px;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  padding-left: 200px;
  padding-top: 130px;
  margin: 0 auto;
  overflow: auto;
}
.wrapper > div {
  display: inline-block;
}
.wrapper #side-menu {
  width: 200px;
  background-color: #ecf1f8;
  border: 1px solid #cfd6e0;
  box-shadow: 0 0 2px 0px #CFD6E0;
  font-size: 0.9em;
  border-radius: 2px;
  position: fixed;
  top: 150px;
  left: 10%;
  z-index: 10;
}
.wrapper #side-menu .active {
  background-color: #008cba;
  color: #fff;
}
.wrapper #side-menu > div {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #DEE3E8;
}
.wrapper #side-menu > div:hover {
  background-color: #008cba;
  color: #fff;
}
.wrapper #side-menu > div:last-child {
  border-bottom: none;
}
.wrapper .l-container {
  box-shadow: 0 0 2px 1px #d8d8d8;
  border-radius: 2px;
  width: 100%;
  float: right;
  z-index: 20;
  position: relative;
}
.wrapper .side-menu-box {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  background-color: yellow;
}
.www-checks {
  margin: 20px auto;
}
@media (max-width: 1040px) {
  .wrapper {
    padding-left: 0;
  }
  .wrapper #side-menu {
    display: none;
  }
}
/*********************/
/*** CSS FRAMEWORK ***/
.l-hover-white {
  color: #d9d9d9;
}
html,
body {
  font-size: 16px;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.23em;
}
h4 {
  font-size: 1.18em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1.69em 0;
}
p {
  font-size: 1em;
}
button {
  font-size: 1em;
}
input {
  font-size: 1em;
}
textarea {
  font-size: 1em;
}
a {
  cursor: pointer;
  color: #008cba;
  text-decoration: none;
}
a:hover {
  color: #07c2ff;
}
/*** COMPONENTS ***/
button {
  cursor: pointer;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  background-color: #e9eaed;
  border: 1px solid #9a9797;
}
button:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #dbdde2;
}
button:active {
  background-color: #cdcfd6;
}
.l-btn {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
}
.l-btn:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn:focus {
  outline: none;
}
.l-btn-light {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  background-color: #e9eaed;
  border: 1px solid #9a9797;
}
.l-btn-light:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn-light:focus {
  outline: none;
}
.l-btn-light:hover {
  background-color: #dbdde2;
}
.l-btn-light:active {
  background-color: #cdcfd6;
}
.l-btn-dark {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #3d3c3c;
  border: 1px solid #3d3c3c;
}
.l-btn-dark:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn-dark:focus {
  outline: none;
}
.l-btn-dark:hover {
  background-color: #302f2f;
}
.l-btn-dark:active {
  background-color: #232323;
}
.l-btn-main {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  background-color: #008cba;
  color: #fff;
  border: 1px solid #008cba;
}
.l-btn-main:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn-main:focus {
  outline: none;
}
.l-btn-main:hover {
  background-color: #006687;
}
.l-btn-main:active {
  background-color: #00526e;
}
.l-btn-success {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #3bd57d;
  border: 1px solid #3bd57d;
}
.l-btn-success:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn-success:focus {
  outline: none;
}
.l-btn-success:hover {
  background-color: #27b664;
}
.l-btn-success:active {
  background-color: #22a159;
}
.l-btn-danger {
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 11px 17px;
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #ff5f5f;
  border: 1px solid #ff5f5f;
}
.l-btn-danger:hover {
  background-color: #e6e6e6;
  color: #ffffff;
}
.l-btn-danger:focus {
  outline: none;
}
.l-btn-danger:hover {
  background-color: #ff2c2c;
}
.l-btn-danger:active {
  background-color: #ff1313;
}
a.l-btn-danger,
a.l-btn-success,
a.l-btn-dark,
a.l-btn-light,
a.l-btn-main,
a.l-btn {
  line-height: 42px;
}
pre {
  background-color: #e8e8e8;
  color: #545454;
  padding: 20px;
  font-family: monospace;
  letter-spacing: -1px;
  line-height: 22px;
  word-wrap: break-word;
}
pre.override-pre {
  background-color: inherit;
  color: inherit;
  padding: 0;
  line-height: inherit;
  letter-spacing: normal;
  letter-spacing: 1px;
}
pre.override-pre .hljs-title {
  color: #4C4C4C;
}
.l-form input {
  margin: 10px 0;
}
.l-form button {
  margin-top: 10px;
  display: block;
}
.l-input-mixin {
  padding: 11px 17px;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #9a9797;
  min-height: 46px;
}
.l-input-mixin:focus {
  outline: none;
  border: 1px solid #008cba;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 11px 17px;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #9a9797;
  min-height: 46px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  outline: none;
  border: 1px solid #008cba;
}
textarea {
  padding: 11px 17px;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #9a9797;
  min-height: 46px;
  max-width: 100%;
}
textarea:focus {
  outline: none;
  border: 1px solid #008cba;
}
select {
  padding: 11px 17px;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #9a9797;
  min-height: 46px;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
  height: 45px;
  color: #949292;
}
select:focus {
  outline: none;
  border: 1px solid #008cba;
}
option {
  padding: 11px 17px;
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #949292;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #949292;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #949292;
}
:-ms-input-placeholder {
  color: #949292;
}
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
input[type="checkbox"],
.l-chk-lbl {
  margin: 0 20px 20px 0;
  cursor: pointer;
}
input[type="checkbox"] + .l-chk-lbl:before {
  margin-right: 10px;
  content: '\f096';
  font-family: 'FontAwesome';
  font-size: 1.2em;
  font-weight: bold;
  color: #5d5d5d;
}
input[type="checkbox"]:checked + .l-chk-lbl:before {
  content: '\f046';
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
}
input[type="radio"],
.l-rdo-lbl {
  margin: 0 20px 20px 0;
  cursor: pointer;
}
input[type="radio"] + .l-rdo-lbl:before {
  margin-right: 10px;
  content: '\f10c';
  font-family: 'FontAwesome';
  font-size: 1.2em;
  color: #5d5d5d;
}
input[type="radio"]:checked + .l-rdo-lbl:before {
  content: '\f192';
}
/*** LAYOUT ***/
.l-header {
  width: 100%;
  height: 70px;
  background-color: #3d3c3c;
  color: #fff;
  margin-bottom: 60px;
  align-items: center;
  padding: 15px 20px;
}
.l-header img {
  max-height: 100%;
}
.l-header.fixed {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.l-container {
  width: 900px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}
@media (max-width: 900px) {
  .l-container {
    width: 100%;
  }
}
.l-msg {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
}
.l-msg i {
  float: right;
  cursor: pointer;
}
.l-msg i:hover {
  color: #d9d9d9;
}
.l-msg-light {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #e9eaed;
  border: 1px solid #9a9797;
}
.l-msg-light i {
  float: right;
  cursor: pointer;
}
.l-msg-light i:hover {
  color: #d9d9d9;
}
.l-msg-light i:hover {
  color: #333333;
}
.l-msg-dark {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #3d3c3c;
  border: 1px solid #3d3c3c;
  color: #fff;
}
.l-msg-dark i {
  float: right;
  cursor: pointer;
}
.l-msg-dark i:hover {
  color: #d9d9d9;
}
.l-msg-success {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #3bd57d;
  border: 1px solid #3bd57d;
  color: #fff;
}
.l-msg-success i {
  float: right;
  cursor: pointer;
}
.l-msg-success i:hover {
  color: #d9d9d9;
}
.l-msg-main {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #008cba;
  border: 1px solid #008cba;
  color: #fff;
}
.l-msg-main i {
  float: right;
  cursor: pointer;
}
.l-msg-main i:hover {
  color: #d9d9d9;
}
.l-msg-danger {
  margin: 20px 0;
  padding: 20px;
  border-radius: 2px;
  background-color: #ff5f5f;
  border: 1px solid #ff5f5f;
  color: #fff;
}
.l-msg-danger i {
  float: right;
  cursor: pointer;
}
.l-msg-danger i:hover {
  color: #d9d9d9;
}
.l-header-separated {
  height: 70px;
  width: 100%;
  background-color: #3d3c3c;
  display: flex;
  align-items: flex-end;
}
.l-header-separated div {
  color: white;
  height: 100%;
  width: 50px;
}
.l-header-separated .l-left-box {
  float: left;
  width: 100%;
  position: relative;
  left: 4%;
}
.l-header-separated .l-left-box div {
  border: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.l-header-separated .l-right-box {
  width: 50%;
  float: right;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.l-header-separated .l-right-box div {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-header-separated .l-right-box div:hover {
  color: #d9d9d9;
}
