@placeholder-color: #949292;

.l-input-mixin {
  padding: @input-padding;
  margin: 10px 0;
  width: 100%;
  border-radius: @radius;
  border: @df-border;
  min-height: 46px;

  &:focus {
    outline: none;
    border: 1px solid @cl-main;
  }
}

input[type="text"], input[type="password"], input[type="email"] {
  .l-input-mixin;
}

textarea {
  .l-input-mixin;
  max-width: 100%;
}

select {
  .l-input-mixin;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
  height: 45px;
  color: @placeholder-color;
}

option {
  padding: @input-padding;
  cursor: pointer;
}


::-webkit-input-placeholder {
   color: @placeholder-color;
}
:-moz-placeholder { /* Firefox 18- */
   color: @placeholder-color;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: @placeholder-color;
}
:-ms-input-placeholder {
   color: @placeholder-color;
}
