button {
  cursor: pointer;
}

.l-btn {
  @this-bg-color: #fff;
  box-sizing: border-box;
  background-color: @this-bg-color;
  padding: 11px 17px;
  border: none;
  border-radius: @radius;

  &:hover {
    background-color: darken(@this-bg-color, 10%);
  }

  &:focus {
    outline: none;
  }
}


.l-btn-light {
    .l-btn;
    @here-color: #fff;
    background-color: @here-color;
    border: @df-border;

    &:hover {
      background-color: darken(@here-color, 5%);
    }

    &:active {
      background-color: darken(@here-color, 10%);
    }
}

.l-btn-dark {
    .l-btn;
    @here-color: #262626;
    color: #fff;
    background-color: @here-color;
    border: @df-border;

    &:hover {
      background-color: darken(@here-color, 5%);
    }

    &:active {
      background-color: darken(@here-color, 10%);
    }
}

.l-btn-main {
    .l-btn;
    background-color: @color-main;
    color: #fff;
    border: 1px solid @color-main;

    &:hover {
      background-color: darken(@color-main, 10%);
    }

    &:active {
      background-color: darken(@color-main, 15%);
    }
}

.l-btn-success {
  .l-btn;
  color: #fff;
  background-color: @color-succes;
  border: 1px solid @color-succes;

  &:hover {
    background-color: darken(@color-succes, 10%);
  }

  &:active {
    background-color: darken(@color-succes, 15%);
  }
}

.l-btn-danger {
  .l-btn;
  color: #fff;
  background-color: @color-danger;
  border: 1px solid @color-danger;

  &:hover {
    background-color: darken( @color-danger, 10%);
  }

  &:active {
    background-color: darken( @color-danger, 15%);
  }
}
