// Media Queries
@sm-screen: 600px;

// COLORS
@dark: #767676;
@color-main: #1a75ff;
@color-danger: #FF2727;
@color-succes: #25BE66; //#2ECC71;

@radius: 2px;
@df-border: 1px solid @dark;
@font-size: 16px;
