// Media Queries
@md-screen: 900px;
@sm-screen: 600px;

// COLORS
@cl-light: #e9eaed;//#fff;
@cl-dark: #3D3C3C;//#262626;
@cl-success: #3BD57D;//#25BE66; //#2ECC71;
@cl-main: #008CBA; //#1a75ff;
@cl-danger: #FF5F5F;//#FF2727;
@dark: #9A9797; //#767676;

// BOX STYLE
@radius: 2px;
@df-border: 1px solid @dark;
@font-size: 16px;

// SPACING
@input-padding: 11px 17px;
@lg-padding: 20px;
@margin-hd-ft: 60px;

// FONTS
@h3-size: 1.23em;

// SHADOW
@shadow: 0 0 2px 1px #D8D8D8;

// MIXIN
.l-hover-white {
  color: darken(#fff, 15%);
}
