* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}

html, body {
  background-color: #eee;
}

hr {
  border-bottom: none;
  border-top: 1px solid #D5D5D5;
  border-left: none;
  margin: 30px 0;
}

footer {
  background-color: @cl-dark;
  width: 100%;
  min-height: 300px;
  margin-top: @margin-hd-ft;
}


@side-menu-width: 200px;
.wrapper {
width: 100%;
  max-width: 1000px;
  padding-left: @side-menu-width;
  margin: 0 auto;
  overflow: auto;

  > div {
    display: inline-block;
  }

  #side-menu {
    @this-border: 1px solid #CFD6E0;

    width: @side-menu-width;
    background-color: #ECF1F8;//#e8ebef;
    border: @this-border;
    box-shadow: 0 0 2px 0px #CFD6E0;
    font-size: 0.9em;
    border-radius: @radius;
    position: fixed;
    top: 150px;
    left: 10%;
    z-index: 10;

    > div {
      // padding: 13px 17px;
      padding: 10px 15px;
      cursor: pointer;
      border-bottom: 1px solid #DEE3E8;
      &:hover {
        background-color: @cl-main;
        color: #fff;
      }
    }

    > div:last-child {
      border-bottom: none;
    }
  }

  .l-container {
    box-shadow: @shadow;
    border-radius: @radius;
    width: 100%;
    float: right;
    z-index: 20;
    position: relative;
  }
  .side-menu-box-example {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
    background-color: yellow;
  }
}


.www-checks {
  margin: 20px auto;
}

@media (max-width: 1040px) {
  .wrapper {
    padding-left: 0;
    #side-menu {
      display: none;
    }
  }
}
